{% extends "templates/web.html" %}

{% block page_content %}

{% include "hospital_pharmacy/templates/navbar.html" %}

<div class="container mt-5">

    <h2 class="mb-4">💊 Expiry Medicines Report</h2>

    {% if medicines %}

    <table class="table table-bordered table-striped">

        <thead class="table-danger">
            <tr>
                <th>Batch No</th>
                <th>Medicine</th>
                <th>Expiry Date</th>
            </tr>
        </thead>

        <tbody>

        {% for medicine in medicines %}

        <tr>
            <td>{{ medicine.name }}</td>
            <td>{{ medicine.item }}</td>
            <td>{{ medicine.expiry_date }}</td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

    {% else %}

    <div class="alert alert-success">
        <strong>No expired medicines found.</strong>
    </div>

    {% endif %}

</div>

{% endblock %}